* {
  margin: 0;
  color: whitesmoke;
}

body {
  background-color: #8f57fd;
  font-family: "Muli", sans-serif;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__menu {
  margin-top: 20px;
  margin-right: 30px;
}

.header__menu > summary {
  list-style: none;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__menu > summary:focus {
  outline: none;
}

.header__menu > summary:hover {
  cursor: pointer;
}

.header__menu ul {
  list-style: none;
  width: 130px;
  text-align: right;
}

.header__menu li a {
  color: whitesmoke;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  width: 40px;
  margin-right: 5px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 40px 40px;
  height: 300px;
}

.main__title {
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
}

.categories__title {
  color: white;
  font-size: 16px;
  position: absolute;
  padding-left: 30px;
  width: calc(100% - 30px);
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 28px;
  color: white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding: 0 20px;
  width: 70%;
}

::placeholder {
  color: white;
}

.carousel {
  overflow: auto;
  padding-left: 30px;
  width: calc(100% - 30px);
  position: relative;
  margin-bottom: 18px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
::-webkit-scrollbar:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar:hover:active {
  background: #999;
}

.carousel__container {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}

.carousel-item {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 250px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
  opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}
.carousel-item__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details {
  align-items: flex-start;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  display: flex;
  font-size: 10px;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.carousel-item:hover .carousel-item__details {
  opacity: 1;
}
.carousel-item__details div img {
  width: 20px;
}
.carousel-item__details--title,
.carousel-item__details--subtitle {
  color: white;
}

.carousel-item__details--title {
  margin: 5px 0px 0px 0px;
}

.carousel-item__details--subtitle {
  font-size: 8px;
  margin: 3px 0px;
}

.footer {
  background-color: #ab88ff;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}
.footer a {
  font-family: "Muli", sans-serif;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
